@import url('frame.css');
@import url('title-bar.css');
@import url('window-wrapper.css');
@import url('navbar.css');
@import url('content.css');
@import url('scrollbar.css');
@import url('tabbed-column.css');
@import url('downloads-grid.css');
@import url('notifications.css');
@import url('home.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --system-theme: #92cfe5;
    --frame-background: #45BBE7;
    --frame-border: #ffffff;
    --title-bar-color: #fff;
    --title-bar-hover: #92cfe5;
    --content-background: #fff;
}