::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--frame-background);
    border-radius: 10px;
    border: solid 5px #4f4f4f;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--frame-border);
}